$colorprin: transparent;
$celular: 501px ;
$tablet: 768px ;
$color-sec: #e3e3e3;
$tipo-titulo: 'Oswald', sans-serif;
$tipo-texto: 'Oswald', sans-serif;


//texto tipografia
// .titulo{
//     box-shadow: 5px solid #000;
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: x-large;
//     margin-top: 0%;    
// }

// .texto-pagina-comp {
//     font-family: 'Bebas Neue', sans-serif;
//     font-family: 'Merriweather', serif;
//     font-family: 'Nosifer', sans-serif;
//     font-family: 'Oswald', sans-serif;
// }