.body-ayuda {
    background: linear-gradient(90deg, #969da1, #fff, #fff);
    .ayuda-contenedor {
        display: inline-flex;
        width: 100%;
        border-bottom: 2px solid #4d4c4c ;
        .ayuda-sub-contenedor {
            width: 50%;
            text-align: center;
            align-self: center;
            .contenedor-wpp {
                & div {
                    .items-preguntas {
                        list-style: none;
                    }
                }
                & div {
                    // p {

                    // }
                    a .img-wpp {
                        width: 25px;
                    }
                } 
            }
        }
        .contenedor-img-preguntas {
            display: flex;
            width: 50%;   
            .img-pregunta {
                width: 400px;
                align-items: center;
                padding: 50px 50px 0 150px;
            }
        }
    }
}