.header-secundario {
    width: 100%;
    height: 50px;
    background-color: rgb(121, 121, 121);
    padding: 15px 28%;
    
    .header-secundario-ul{
        list-style: none;
        display: flex;
        gap: 20px;
        .sublista-palabras {
            text-decoration: none;
            color: black;
        }
    }
}

.titulo-web-store {
    width: 100%;
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.contenedor-ropa{
    padding: 5%;
    width: 100%;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 50px;
    .hijo-cont-ropa {
        border: 2px solid black;
        padding: 4px;
        width: 250px;
        .img-remera {
            width: 235px;
            height: auto;
        }
        .cont-text-img{
            h3 {

            }
            p {

            }
        }
    }
}