$colorprin: transparent;
$celular: 501px ;
$tablet: 768px ;
$color-sec: #e3e3e3;
$tipo-titulo: Arial;
$tamaño-titulo: 38px;
$tipo-texto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tamaño-texto: 18px; 