@charset "UTF-8";
.btn-volver {
  position: fixed;
  width: 70px;
  height: auto;
  line-height: 30px;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  background-color: #e3e3e3;
  text-align: center;
  border-radius: 10%;
  border: 2px solid;
  font-size: larger;
  color: #5a5a5a;
}

* {
  margin: 0;
}

.logo-dcl-b {
  width: 80px;
  height: auto;
}

.img-div {
  background-image: url(../imagenes-coder/img\ principal\ rollos\ original-b.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding-top: 1px;
  margin-top: 0px;
  border-bottom: 5px solid #4d4c4c;
}
.img-div .texto {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 38px;
}
.img-div .texto img {
  width: 200px;
  height: auto;
  padding-top: px;
}

.sublista_index-cell {
  display: none;
}

.sublista_index {
  width: 100%;
  height: 110px;
  justify-content: center;
  margin: 0 auto;
  background-color: #8f8f8f;
}
.sublista_index .titulo-sublista {
  text-align: center;
  margin: 0 auto;
  font-family: Arial;
  font-size: 38px;
}
.sublista_index .contenedor {
  margin: 10px auto;
  width: 450px;
  height: 50px;
  background-color: #8f8f8f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sublista_index .contenedor ul {
  padding-left: 0;
  display: flex;
  list-style: none;
  width: 600px;
}
.sublista_index .contenedor ul li {
  position: relative;
  list-style: none;
  width: 150px;
  height: 60px;
  z-index: 1;
}
.sublista_index .contenedor ul li a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 180px;
  text-align: center;
  font-weight: 500;
  color: #090909;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.sublista_index .contenedor ul li a .text {
  position: relative;
  display: block;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}
.sublista_index .contenedor ul li a .icon {
  position: absolute;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.75em;
  letter-spacing: 0.3em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  padding-top: 25px;
}
.sublista_index .contenedor ul li:hover a .text {
  transform: translateY(35px);
  opacity: 0;
}
.sublista_index .contenedor ul li:hover a .icon {
  top: 15px;
  opacity: 1;
  transform: translateY(-25px);
}

.direc-text {
  padding: 60px 0 0 0;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.direc-text .texto-inicio {
  text-align: start;
  max-width: 40%;
  width: 1fr;
  padding: 0 25px 0 50px;
}
.direc-text .texto-inicio .titulo {
  font-family: Arial;
  font-size: 38px;
}
.direc-text .texto-inicio p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.direc-text .img-principal {
  background-image: url(../imagenes-coder/img-telas-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 60%;
  padding: 0 0 0 0;
  margin-right: 50px;
  border-radius: 2%;
  margin-left: 25px;
}
.direc-text .img-principal div {
  width: 100%;
  height: 100%;
  background-color: #bcbcbc;
  border-radius: 2%;
  opacity: 0.7;
  display: none;
  transition-duration: 0.5s;
}
.direc-text .img-principal div .texto-img-principal {
  margin: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  font-family: Arial;
  font-size: 38px;
  padding-top: 22%;
  border-radius: 2%;
  display: none;
  transition-duration: 1s;
}
.direc-text .img-principal:hover .texto-img-principal {
  display: block;
}
.direc-text .img-principal:hover div {
  display: block;
  transition-duration: 0.5s;
}

.fondo-exvese {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  background-color: #e3e3e3;
  display: grid;
  align-items: center;
}
.fondo-exvese .contenedor-exvese {
  width: 90%;
  height: 220px;
  border-top: 3px solid #4d4c4c;
  border-bottom: 3px solid #4d4c4c;
  border-left: 20px solid #4d4c4c;
  border-right: 20px solid #4d4c4c;
  margin: 0 auto 0 auto;
  text-align: center;
}
.fondo-exvese .contenedor-exvese h2 {
  padding: 3px;
  font-family: Arial;
  font-size: 38px;
}
.fondo-exvese .contenedor-exvese p {
  padding: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.apartado-direccion {
  width: 100%;
  display: grid;
  grid-template-columns: 59% 35%;
  padding: 30px 40px 20px 40px;
  text-align: center;
  gap: 30px;
  justify-content: space-between;
}
.apartado-direccion .contenedor_ubicaciones {
  width: 100%;
  padding: 40px 50px;
  display: grid;
  align-items: center;
}
.apartado-direccion .contenedor_ubicaciones h2 {
  font-family: Arial;
  font-size: 38px;
  box-shadow: 5px solid #000;
  margin-top: 0%;
}
.apartado-direccion .contenedor_ubicaciones p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.tipos-prendas {
  width: 100%;
  padding: 50px 40px;
  text-align: start;
}
.tipos-prendas h2 {
  font-family: Arial;
  font-size: 38px;
}
.tipos-prendas ul {
  padding-left: 0;
}
.tipos-prendas ul .items-de-punto {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  list-style: none;
  text-align: start;
}
.tipos-prendas ul .items-de-punto:hover .sublista_punto {
  display: block;
  position: absolute;
  margin-left: 100px;
  margin-top: -32px;
}
.tipos-prendas ul .items-de-punto .sublista_punto {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  list-style: none;
  text-align: start;
  display: none;
  transition-duration: 0.5s;
}
.tipos-prendas ul .items-de-punto .sublista_punto li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tipos-prendas ul .items-de-plano {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  list-style: none;
  text-align: start;
}
.tipos-prendas ul .items-de-plano:hover .sublista_plano {
  display: block;
  position: absolute;
  margin-left: 100px;
  margin-top: -32px;
}
.tipos-prendas ul .items-de-plano .sublista_plano {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  list-style: none;
  text-align: start;
  display: none;
  transition-duration: 0.5s;
}
.tipos-prendas ul .items-de-plano .sublista_plano li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.tipos-prendas ul .items-de-especiales {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  list-style: none;
  text-align: start;
}
.tipos-prendas ul .items-de-especiales:hover .sublista_especiales {
  display: block;
  position: absolute;
  margin-left: 100px;
  margin-top: -32px;
}
.tipos-prendas ul .items-de-especiales .sublista_especiales {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  list-style: none;
  text-align: start;
  display: none;
  transition-duration: 0.5s;
}
.tipos-prendas ul .items-de-especiales .sublista_especiales li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.tipos-prendas-responsive {
  display: none;
}
.tipos-prendas-responsive .cont_titulo h2 {
  font-family: Arial;
  font-size: 38px;
}
.tipos-prendas-responsive .cont_1 .titulo_sec {
  font-family: Arial;
  font-size: 38px;
}
.tipos-prendas-responsive .cont_1 p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.tipos-prendas-responsive .cont_2 .titulo_sec {
  font-family: Arial;
  font-size: 38px;
}
.tipos-prendas-responsive .cont_2 p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.tipos-prendas-responsive .cont_3 .titulo_sec {
  font-family: Arial;
  font-size: 38px;
}
.tipos-prendas-responsive .cont_3 p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.fondo-mapas {
  background-color: #e3e3e3;
  width: 100%;
  height: auto;
}
.fondo-mapas .ubicacion_contenedor {
  padding: 10px 0 30px 0;
  width: 97%;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 250px 250px;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-left: 0%;
}
.fondo-mapas .ubicacion_contenedor .pri-cont-text h3 {
  font-family: Arial;
  font-size: 38px;
}
.fondo-mapas .ubicacion_contenedor .pri-cont-text p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.fondo-mapas .ubicacion_contenedor .sec-cont-text h3 {
  font-family: Arial;
  font-size: 38px;
}
.fondo-mapas .ubicacion_contenedor .sec-cont-text p {
  margin: 0%;
  grid-area: 3/4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.mapas-gm iframe {
  width: 400px;
  height: 200px;
}

iframe {
  border-radius: 5%;
}

.titulo-marcas {
  text-align: center;
  font-size: 20px;
}
.titulo-marcas h1 {
  font-family: Arial;
  font-size: 38px;
}
.titulo-marcas p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.img-marcas {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  gap: 10px;
  justify-content: space-around;
  padding: 30px 0;
  align-items: center;
}
.img-marcas .logo-marca {
  display: flex;
  align-items: center;
}
.img-marcas .logo-marca .img-puma {
  height: 130px;
  width: auto;
  background-color: transparent;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-puma:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-reef {
  height: 150px;
  width: 200px;
  background-color: transparent;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-reef:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-chs {
  height: 150px;
  width: 150px;
  background-color: transparent;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-chs:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-est {
  width: 110px;
  height: auto;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-est:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-head {
  width: 150px;
  height: auto;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-head:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-cat {
  width: 150px;
  height: auto;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-cat:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-fan {
  width: 150px;
  height: auto;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-fan:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-sei {
  width: 150px;
  height: auto;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-sei:hover {
  transform: scale(1.2);
}
.img-marcas .logo-marca .img-sil {
  width: 150px;
  height: auto;
  transition: 0.3s;
}
.img-marcas .logo-marca .img-sil:hover {
  transform: scale(1.2);
}

.footer {
  border-top: 1px solid rgb(127, 124, 124);
  margin-bottom: 0%;
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  gap: 40px;
  padding: 15px;
}
.footer .footer-inicio {
  text-align: center;
}
.footer .footer-inicio h3 {
  text-align: center;
  padding-left: 40px;
  font-family: Arial;
  font-size: 38px;
}
.footer .footer-inicio .footer-lista .li-footer {
  list-style: none;
}
.footer .footer-inicio .footer-lista .li-footer a {
  color: #000;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.footer .footer-inicio .footer-lista .li-footer a:hover {
  text-decoration: underline;
}
.footer .footer-ayuda h3 {
  font-family: Arial;
  font-size: 38px;
  text-align: center;
}
.footer .footer-ayuda .contenedor-img-pagos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.footer .footer-ayuda .contenedor-img-pagos .img-pago-footer {
  width: 60px;
  height: auto;
}
.footer .medio-contacto {
  align-items: center;
}
.footer .medio-contacto h3 {
  font-family: Arial;
  font-size: 38px;
}
.footer .medio-contacto ul {
  padding: 0%;
}
.footer .medio-contacto ul li {
  list-style: none;
  text-align: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body-ayuda {
  background: linear-gradient(90deg, #969da1, #fff, #fff);
}
.body-ayuda .ayuda-contenedor {
  display: inline-flex;
  width: 100%;
  border-bottom: 2px solid #4d4c4c;
}
.body-ayuda .ayuda-contenedor .ayuda-sub-contenedor {
  width: 50%;
  text-align: center;
  align-self: center;
}
.body-ayuda .ayuda-contenedor .ayuda-sub-contenedor .contenedor-wpp div .items-preguntas {
  list-style: none;
}
.body-ayuda .ayuda-contenedor .ayuda-sub-contenedor .contenedor-wpp div a .img-wpp {
  width: 25px;
}
.body-ayuda .ayuda-contenedor .contenedor-img-preguntas {
  display: flex;
  width: 50%;
}
.body-ayuda .ayuda-contenedor .contenedor-img-preguntas .img-pregunta {
  width: 400px;
  align-items: center;
  padding: 50px 50px 0 150px;
}

@media (max-width: 501px) {
  .hr_header {
    margin: 0;
  }
}
@media (max-width: 501px) {
  .img-div {
    display: none;
  }
}
/* sublista index */
/* sublista index */
@media (max-width: 501px) {
  .sublista_index-cell {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    background-color: #a5a5a5;
    padding: 10px 0;
  }
  .titulo-sublista-cell {
    font-family: Arial;
  }
  .sublista_index-cell ul {
    list-style: none;
    margin: 0;
    padding-left: 0%;
  }
  .sublista_index-cell ul a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
  }
  .titulo-sublista-cell {
    padding-bottom: 15px;
    margin: 0px auto 7px auto;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
  }
}
@media (max-width: 501px) {
  .sublista_index {
    display: none;
  }
  .contenedor {
    display: none;
  }
  .sublista_index ul {
    background-color: #a5a5a5;
    width: 0;
  }
  .titulo-sublista {
    padding-bottom: 15px;
    margin: 0px auto 7px auto;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
  }
  .fondo-exvese {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-color: #e3e3e3;
    display: grid;
    align-items: center;
  }
  .fondo-exvese .contenedor-exvese {
    width: 90%;
    height: 270px;
    border-top: 3px solid #4d4c4c;
    border-bottom: 3px solid #4d4c4c;
    border-left: 20px solid #4d4c4c;
    border-right: 20px solid #4d4c4c;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
  }
  .fondo-exvese .contenedor-exvese h2 {
    padding: 1px;
    font-family: Arial;
    font-size: 25px;
  }
  .fondo-exvese .contenedor-exvese p {
    padding: 1px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
}
@media (max-width: 501px) {
  .direc-text {
    padding: 60px 0 0 0;
    display: block;
    min-width: 100%;
  }
  .contenedor_ubicaciones {
    min-width: 100%;
    padding: 0px;
  }
  .contenedor_ubicaciones h2 {
    width: 90%;
  }
  .contenedor_ubicaciones p {
    width: 90%;
  }
  .apartado-direccion {
    padding: 0px;
  }
  .texto-inicio {
    text-align: start;
    min-width: 100%;
    padding: 5px;
  }
}
@media (max-width: 501px) {
  .apartado-direccion {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
  }
  .apartado-direccion .contenedor_ubicaciones {
    width: 100%;
    display: grid;
    align-items: center;
  }
  .apartado-direccion .contenedor_ubicaciones h2 {
    font-family: Arial;
    font-size: 38px;
    box-shadow: 5px solid #000;
    margin-top: 0%;
  }
  .apartado-direccion .contenedor_ubicaciones p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
}
@media (max-width: 501px) {
  /* apartado celu*/
  .tipos-prendas-responsive {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .cont_1 p, .cont_2 p {
    margin: 0;
  }
  .titulo_sec {
    color: #4b86c5;
  }
  .tipos-prendas {
    display: none;
  }
  .prendas_oculta {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .prendas-oc-flex {
    display: flex;
    margin: 25px auto;
    justify-content: space-around;
    width: 100%;
  }
  .prendas-oc-flex div p {
    text-align: start;
    margin: 0;
  }
  .hr-tipo {
    margin: 0;
  }
}
@media (max-width: 501px) {
  .fondo-mapas {
    background-color: #e3e3e3;
    width: 100%;
    height: auto;
  }
  .fondo-mapas .ubicacion_contenedor {
    padding: 10px 0 30px 0;
    width: 97%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px 250px 250px 250px;
    justify-content: center;
    justify-items: center;
    text-align: start;
    align-items: center;
    margin-left: 0%;
  }
  .fondo-mapas .ubicacion_contenedor .pri-cont-text {
    order: 1;
    max-width: 300px;
  }
  .fondo-mapas .ubicacion_contenedor .pri-cont-text h3 {
    font-family: Arial;
    font-size: 38px;
  }
  .fondo-mapas .ubicacion_contenedor .pri-cont-text p {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  .fondo-mapas .ubicacion_contenedor .sec-cont-text {
    max-width: 310px;
    order: 3;
  }
  .fondo-mapas .ubicacion_contenedor .sec-cont-text h3 {
    font-family: Arial;
    font-size: 38px;
  }
  .fondo-mapas .ubicacion_contenedor .sec-cont-text p {
    margin: 0%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  .fondo-mapas .ubicacion_contenedor .cont-ubic-prim {
    order: 2;
  }
  .fondo-mapas .ubicacion_contenedor .cont-ubic-prim iframe {
    max-width: 300px;
    height: 160px;
  }
  .fondo-mapas .ubicacion_contenedor .cont-ubic-segu {
    order: 4;
  }
  .fondo-mapas .ubicacion_contenedor .cont-ubic-segu iframe {
    max-width: 300px;
    height: 160px;
  }
}
@media (max-width: 501px) {
  .titulo-marcas {
    text-align: center;
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 501px) {
  .img-marcas {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    gap: 15px;
    padding: 30px 0;
    align-items: center;
  }
  .img-puma:hover {
    transform: scale(1);
  }
  .img-reef:hover {
    transform: scale(1);
  }
  .img-chs:hover {
    transform: scale(1);
  }
  .img-est:hover {
    transform: scale(1);
  }
  .img-head:hover {
    transform: scale(1);
  }
  .img-cat:hover {
    transform: scale(1);
  }
  .img-fan:hover {
    transform: scale(1);
  }
  .img-sei:hover {
    transform: scale(1);
  }
  .img-sil:hover {
    transform: scale(1);
  }
  .img_marcas {
    max-width: 80px;
    height: auto;
  }
}
@media (max-width: 501px) {
  .footer {
    width: 100%;
    display: flex;
    background-color: #a5a5a5;
  }
  .footer .footer-ayuda {
    display: none;
  }
  .footer .footer-inicio {
    display: none;
  }
  .footer .medio-contacto {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    order: 2;
  }
  .footer .medio-contacto h3 {
    text-align: center;
  }
  .footer .medio-contacto ul li {
    text-align: center;
  }
}
@media (max-width: 501px) {
  .ayuda-contenedor {
    width: 100%;
    text-align: center;
    padding-left: 30%;
  }
  .contenedor-img-preguntas .img-pregunta {
    display: none;
  }
}
@media (max-width: 501px) {
  .img-estrechamiento {
    display: none;
  }
  .cotizacion-aclaracion p {
    padding: 0 15%;
  }
  .cotizacion-aclaracion {
    padding-top: 10px;
  }
}
@media (max-width: 501px) {
  .contenedor-loguin {
    margin: 5% 10% 5% 10%;
    border: 2px solid #3e3e3c;
    border-radius: 5%;
    min-width: 100%;
    margin: 20px auto;
    padding: 10px;
  }
}
@media (max-width: 501px) {
  .header-secundario {
    background-color: #ecec3f;
    padding: 0;
    height: 200px;
  }
  .header-secundario .header-secundario-ul {
    padding: 0;
  }
  .header-secundario .header-secundario-ul .sublista-palabra {
    padding: 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .hr_header {
    margin: 0;
  }
  .sublista_index {
    width: 100%;
    justify-content: center;
    background-color: #8f8f8f;
  }
  .tipos-prendas-responsive {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .cont_1 p, .cont_2 p {
    margin: 0;
  }
  .titulo_sec {
    color: #4b86c5;
  }
  .tipos-prendas {
    display: none;
  }
  .prendas_oculta {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .prendas-oc-flex {
    display: flex;
    margin: 25px auto;
    justify-content: space-around;
    width: 100%;
  }
  .prendas-oc-flex div p {
    text-align: start;
    margin: 0;
  }
  .hr-tipo {
    margin: 0;
  }
  .ubicacion_contenedor {
    width: 95%;
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 250px 250px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 0%;
  }
  .mapas-gm iframe {
    width: 280px;
    height: 180px;
  }
  iframe {
    border-radius: 5%;
  }
  .img-marcas {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    gap: 50px;
    padding: 30px 0;
    align-items: center;
  }
  .img-puma:hover {
    transform: scale(1);
  }
  .img-reef:hover {
    transform: scale(1);
  }
  .img-chs:hover {
    transform: scale(1);
  }
  .img-est:hover {
    transform: scale(1);
  }
  .img-head:hover {
    transform: scale(1);
  }
  .img-cat:hover {
    transform: scale(1);
  }
  .img-fan:hover {
    transform: scale(1);
  }
  .img-sei:hover {
    transform: scale(1);
  }
  .img-sil:hover {
    transform: scale(1);
  }
  .img_marcas {
    width: 100px;
    height: auto;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .contenedor-loguin {
    border: 2px solid #3e3e3c;
    border-radius: 5%;
    width: 60%;
    margin: 50px auto;
    padding: 10px 0;
  }
}
.body-login {
  background-color: #c8c8c8;
}

.contenedor-login {
  background-color: #c8c8c8;
  border: 2px solid #3e3e3c;
  border-radius: 5%;
  margin: 5% 30% 5% 30%;
}
.contenedor-login .loguin-h1-titulo-principal {
  padding: 20px 0;
  text-align: center;
}
.contenedor-login .form-iniciodesecion {
  text-align: center;
  background-color: transparent;
}
.contenedor-login .form-iniciodesecion .inicio-izquierda .div-input-nombre {
  background-color: transparent;
}
.contenedor-login .form-iniciodesecion .inicio-izquierda .div-input-nombre .input-nombre {
  background-color: #c8c8c8;
  margin: 10px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4d75bf;
  transition-duration: 0.3s;
}
.contenedor-login .form-iniciodesecion .inicio-izquierda .div-input-gmail input {
  margin: 10px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4d75bf;
  background-color: transparent;
  transition-duration: 0.3s;
}
.contenedor-login .form-iniciodesecion .inicio-izquierda .div-input-contraseña input {
  margin: 10px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4d75bf;
  background-color: transparent;
  transition-duration: 0.3s;
}
.contenedor-login .form-iniciodesecion .inicio-derecha .div-input-nacimiento h3 {
  margin-bottom: 0%;
  font-size: medium;
}
.contenedor-login .form-iniciodesecion .inicio-derecha .div-input-nacimiento .input-fechadenacimiento {
  background-color: transparent;
  margin: 10px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4d75bf;
  background-color: transparent;
  transition-duration: 0.3s;
}
.contenedor-login .form-iniciodesecion .inicio-derecha .div-input-telefono {
  display: inline-flex;
  text-align: center;
}
.contenedor-login .form-iniciodesecion .inicio-derecha .div-input-telefono .input-codigo-telefono {
  width: 50px;
  margin: 10px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4d75bf;
  background-color: transparent;
  transition-duration: 0.3s;
}
.contenedor-login .form-iniciodesecion .inicio-derecha .div-input-telefono .input-numero-telefono {
  width: 100px;
  margin: 10px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4d75bf;
  background-color: transparent;
  transition-duration: 0.3s;
}
.contenedor-login .form-iniciodesecion .bottom-enviar .input-is {
  margin: 10px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4d75bf;
  background-color: transparent;
  transition-duration: 0.3s;
}

.input-is:hover {
  background: linear-gradient(to bottom, transparent, #8b929a);
  border-bottom: 2px solid #dde3eb;
}

.contenedor_pag_cot {
  display: flex;
}
.contenedor_pag_cot .img-estrechamiento img {
  max-height: auto;
  width: auto;
  max-height: 85vh;
  margin: 10px;
  border-radius: 5%;
}
.contenedor_pag_cot .contenedor-padre-cot .cotizacion-titulo {
  text-align: center;
  margin-top: 75px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
}
.contenedor_pag_cot .contenedor-padre-cot .cotizacion-titulo h1 .detalle-compra .imputs div input {
  padding-bottom: 10px;
  width: 200px;
  height: 30px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #77b7f6;
}
.contenedor_pag_cot .contenedor-padre-cot .cotizacion-titulo h1 .detalle-compra .imputs div .buttom {
  padding: 10px 0 0 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #749ce6;
}
.contenedor_pag_cot .contenedor-padre-cot .cotizacion-aclaracion {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 10px;
}
.contenedor_pag_cot .contenedor-padre-cot .cotizacion-aclaracion .cotizacion-h2 {
  text-align: center;
}
.contenedor_pag_cot .contenedor-padre-cot .cotizacion-aclaracion p {
  padding: 10px 25%;
  text-align: center;
}

.header-secundario {
  width: 100%;
  height: 50px;
  background-color: rgb(121, 121, 121);
  padding: 15px 28%;
}
.header-secundario .header-secundario-ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.header-secundario .header-secundario-ul .sublista-palabras {
  text-decoration: none;
  color: black;
}

.titulo-web-store {
  width: 100%;
}
.titulo-web-store h1 {
  text-align: center;
}
.titulo-web-store p {
  text-align: center;
}

.contenedor-ropa {
  padding: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 50px;
}
.contenedor-ropa .hijo-cont-ropa {
  border: 2px solid black;
  padding: 4px;
  width: 250px;
}
.contenedor-ropa .hijo-cont-ropa .img-remera {
  width: 235px;
  height: auto;
}
@media (max-width: 501px) {
  .header-secundario {
    background-color: #b9b9b9;
    padding: 10px;
    height: 80px;
  }
  .header-secundario .header-secundario-ul {
    gap: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding: 2px;
    text-align: center;
  }
  .header-secundario .header-secundario-ul .sublista-palabra {
    padding: 0;
  }
  .contenedor-ropa {
    padding: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 25px;
  }
  .contenedor-ropa .hijo-cont-ropa {
    border: 2px solid black;
    padding: 4px;
    width: 150px;
  }
  .contenedor-ropa .hijo-cont-ropa .img-remera {
    width: 135px;
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */